<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer">
        <footer class="text-light text-opacity-75 footerNav">
            <div class="footer-copyright text-center py-3">
                이 사이트는 <a href="https://www.schoolmusic.co.kr/Shop/index.php3" style="text-decoration-line:none;" class="text-light">'스쿨뮤직'</a> 홈페이지를
                참조하여 만든 사이트 입니다.
                저작권을 포함한 모든 권한은 '스쿨뮤직'에 있습니다.
            </div>
        </footer>
    </div>
</html>
